<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Information about my Home-Assistant setup">

    <link rel="stylesheet" type="text/css" media="screen" href="https://jefflirion.github.io/stylesheets/stylesheet.css">

    <title>Home-Assistant Info</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="home_banner" href="https://jefflirion.github.io/">JeffLIrion.github.io</a>
          <a id="repo_banner" href="https://github.com/JeffLIrion/home-assistant-info">View this repo</a>

          <h1 id="project_title">Home Assistant Info</h1>
          <h2 id="project_tagline">Chromecast Audio volume synchronization</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">





<h1><a id="Intro_0"></a>Intro</h1>
<p>I have 3 Chromecast Audio devices, plus a Google Home and a Google Home Mini.  Group playback is awesome… when all my speakers are playing at the same volume.  Unfortunately, the volume levels can get out of sync due to</p>
<ol>
<li>Keeping my Google Home at a louder volume than my Chromecast Audio devices (so that I can hear what Google says).</li>
<li>Playing music on a group that includes my Google Home, then telling Google “louder” or “softer”, which will change the volume of the Google Home but not the other group members.</li>
<li>Playing music on 1 or more devices and changing the volume level, then later playing music on a group which includes those devices.</li>
</ol>
<p>So I set out to use Home Assistant to ensure that when casting to a group, all speakers remain at the same volume.</p>
<h1><a id="1_Setup_11"></a>1. Setup</h1>
<p>For starters, here are the Chromecast Audio devices that I include in my setup:</p>
<pre><code class="language-yaml">media_player:
  - platform: cast
    host: !secret bedroom_mini_ip_address
    name: Bedroom Mini

#  - platform: cast
#    host:
#    name: All My Speakers

  - platform: cast
    host: !secret bedroom_speakers_ip_address
    name: Bedroom Speakers

  - platform: cast
    host: !secret computer_speakers_ip_address
     name: Computer Speakers

  - platform: cast
    host: !secret kitchen_home_ip_address
    name: Kitchen Home

#  - platform: cast
#    host:
#    name: Kitchen Speakers

  - platform: cast
    host: !secret living_room_speakers_ip_address
    name: Living Room Speakers

#  - platform: cast
#    host:
#    name: Main Speakers
</code></pre>
<p>The three devices that are commented out – “All My Speakers,” “Kitchen Speakers,” and “Main Speakers” – are cast groups that don’t have an IP address, and so they must be automatically discovered by Home Assistant.  Their members are:</p>
<ul>
<li>
<p>All My Speakers</p>
<ul>
<li>Bedroom Speakers</li>
<li>Computer Speakers</li>
<li>Kitchen Home</li>
<li>Living Room Speakers</li>
</ul>
</li>
<li>
<p>Kitchen Speakers</p>
<ul>
<li>Computer Speakers</li>
<li>Kitchen Home</li>
</ul>
</li>
<li>
<p>Main Speakers</p>
<ul>
<li>Computer Speakers</li>
<li>Kitchen Home</li>
<li>Living Room Speakers</li>
</ul>
</li>
</ul>
<p>It’s worth mentioning that I have a Python script that I use to set the Chromecast volumes each hour, as well as an automation that calls it.  The Python script is <a href="./python_scripts/set_chromecast_volumes.py">set_chromecast_volumes.py</a> and the automation is <a href="./automations/chromecast_audio/set_chromecast_volumes_hourly.yaml">set_chromecast_volumes_hourly.yaml</a>.  I also use that Python script to set the volume of my Google Home when group playback stops.</p>
<h2><a id="1a_Home_Assistant_Groups_74"></a>1a. Home Assistant Groups</h2>
<p>In Home Assistant, I created a group for each Chromecast Audio group, as follows:</p>
<pre><code class="language-yaml">all_my_speakers:
  name: All My Speakers
  icon: mdi:cast
  entities:
  - input_number.bedroom_speakers
  - input_number.computer_speakers
  - input_number.kitchen_home
  - input_number.living_room_speakers


kitchen_speakers:
  name: Kitchen Speakers
  icon: mdi:cast
  entities:
  - input_number.computer_speakers
  - input_number.kitchen_home


main_speakers:
  name: Main Speakers
  icon: mdi:cast
  entities:
  - input_number.computer_speakers
  - input_number.kitchen_home
  - input_number.living_room_speakers
</code></pre>
<h2><a id="1b_Input_Numbers_107"></a>1b. Input Numbers</h2>
<p>The challenge in all of this is that Home Assistant only knows the (average) volume of the group, not the volumes of the group members.  In order to get around this, I’ll need to track the volume of both the individual speakers and the Chromecast Audio groups.  To do this, I defined an <code>input_number</code> for each Chromecast, including the groups:</p>
<pre><code class="language-yaml">input_number:
  all_my_speakers:
    name: All My Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  bedroom_mini:
    name: Bedroom Mini
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  bedroom_speakers:
    name: Bedroom Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  computer_speakers:
    name: Computer Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  kitchen_home:
    name: Kitchen Home
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  kitchen_speakers:
    name: Kitchen Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  living_room_speakers:
    name: Living Room Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1

  main_speakers:
    name: Main Speakers
    icon: mdi:sort-numeric
    min: 0
    max: 100
    step: 1
</code></pre>
<h2><a id="1c_Sensors_171"></a>1c. Sensors</h2>
<p>I also defined sensors to display these volumes, with the icon indicating whether the device is currently playing.  Note that for the groups, the value of the sensor is the average of its members, excluding the Google Home.</p>
<pre><code class="language-yaml">- platform: template
  sensors:
    all_my_speakers:
      friendly_name: &quot;All My Speakers&quot;
      entity_id:
      - media_player.all_my_speakers
      - input_number.all_my_speakers
      - input_number.bedroom_speakers
      - input_number.computer_speakers
      - input_number.living_room_speakers
      value_template: &gt;
          {% if is_state('media_player.all_my_speakers', 'off') %}
              {{ ( float(states('input_number.bedroom_speakers')) + float(states('input_number.computer_speakers')) + float(states('input_number.living_room_speakers')) ) | multiply(0.33333334) | round(0) }}
          {% else %}
              {{ states('input_number.all_my_speakers') | round(0) }}
          {% endif %}
      icon_template: &quot;{% if is_state('media_player.all_my_speakers', 'off') or is_state('media_player.all_my_speakers', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    bedroom_mini:
      friendly_name: &quot;Bedroom Mini&quot;
      entity_id:
      - input_number.bedroom_mini
      - media_player.bedroom_mini
      value_template: &quot;{{ states('input_number.bedroom_mini') | round(0) }}&quot;
      icon_template: &quot;{% if is_state('media_player.bedroom_mini', 'off') or is_state('media_player.bedroom_mini', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    bedroom_speakers:
      friendly_name: &quot;Bedroom Speakers&quot;
      entity_id:
      - input_number.bedroom_speakers
      - media_player.bedroom_speakers
      value_template: &quot;{{ states('input_number.bedroom_speakers') | round(0) }}&quot;
      icon_template: &quot;{% if is_state('media_player.bedroom_speakers', 'off') or is_state('media_player.bedroom_speakers', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    computer_speakers:
      friendly_name: &quot;Computer Speakers&quot;
      entity_id:
      - input_number.computer_speakers
      - media_player.computer_speakers
      value_template: &quot;{{ states('input_number.computer_speakers') | round(0) }}&quot;
      icon_template: &quot;{% if is_state('media_player.computer_speakers', 'off') or is_state('media_player.computer_speakers', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    kitchen_home:
      friendly_name: &quot;Kitchen Home&quot;
      entity_id:
      - input_number.kitchen_home
      - media_player.kitchen_home
      value_template: &quot;{{ states('input_number.kitchen_home') | round(0) }}&quot;
      icon_template: &quot;{% if is_state('media_player.kitchen_home', 'off') or is_state('media_player.kitchen_home', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    kitchen_speakers:
      friendly_name: &quot;Kitchen Speakers&quot;
      entity_id:
      - media_player.kitchen_speakers
      - input_number.kitchen_speakers
      - input_number.computer_speakers
      value_template: &gt;
          {% if is_state('media_player.kitchen_speakers', 'off') %}
              {{ states('input_number.computer_speakers') | round(0) }}
          {% else %}
              {{ states('input_number.kitchen_speakers') | round(0) }}
          {% endif %}
      icon_template: &quot;{% if is_state('media_player.kitchen_speakers', 'off') or is_state('media_player.kitchen_speakers', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;

    main_speakers:
      friendly_name: &quot;Main Speakers&quot;
      entity_id:
      - media_player.main_speakers
      - input_number.computer_speakers
      - input_number.living_room_speakers
      - input_number.main_speakers
      value_template: &gt;
          {% if is_state('media_player.main_speakers', 'off') %}
              {{ ( float(states('input_number.computer_speakers')) + float(states('input_number.living_room_speakers')) ) | multiply(0.5) | round(0) }}
          {% else %}
              {{ states('input_number.main_speakers') | round(0) }}
          {% endif %}
      icon_template: &quot;{% if is_state('media_player.main_speakers', 'off') or is_state('media_player.main_speakers', 'unavailable') %}mdi:cast{% else %}mdi:cast-connected{% endif %}&quot;
</code></pre>
<h2><a id="1d_Setup_summary_242"></a>1d. Setup summary</h2>
<p>Naming is important!  At this point, for every Chromecast audio group you will have the following in Home Assistant:</p>
<ul>
<li><code>media_player.&lt;chromecast_audio_group&gt;</code></li>
<li><code>group.&lt;chromecast_audio_group&gt;</code></li>
<li><code>input_number.&lt;chromecast_audio_group&gt;</code></li>
<li><code>sensor.&lt;chromecast_audio_group&gt;</code></li>
</ul>
<h1><a id="2_Simple_automations_252"></a>2. Simple automations</h1>
<h2><a id="2a_Track_individual_volumes_254"></a>2a. Track individual volumes</h2>
<p>Using automations to track individual volumes was pretty simple (see <a href="./automations/chromecast_audio/individual_volumes.yaml">individual_volumes.yaml</a>):</p>
<pre><code class="language-yaml">- id: track_volume_individual
  alias: &quot;CCA: Track volume (individual)&quot;
  trigger:
  - platform: state
    entity_id: media_player.bedroom_mini, media_player.bedroom_speakers, media_player.computer_speakers, media_player.kitchen_home, media_player.living_room_speakers
  condition:
  - condition: template
    value_template: &quot;{{ trigger.to_state.attributes.volume_level is defined and trigger.to_state.attributes.volume_level | multiply(100) | round(0) != states('input_number.%s'|format(trigger.to_state.object_id)) }}&quot;
  action:
  - service: input_number.set_value
    data_template:
      entity_id: &quot;{{ 'input_number.%s'|format(trigger.to_state.object_id) }}&quot;
      value: &quot;{{ trigger.to_state.attributes.volume_level | multiply(100) | round(0) }}&quot;
</code></pre>
<h2><a id="2b_Synchronize_volume_levels_when_group_playback_starts_275"></a>2b. Synchronize volume levels when group playback starts</h2>
<p>The next step was to create an automation that would synchronize the volume levels when group playback started.  This was simple enough (see <a href="./automations/chromecast_audio/group_playback_start.yaml">group_playback_start.yaml</a>):</p>
<pre><code class="language-yaml">- id: group_playback_start
  alias: &quot;CCA: Group playback (start)&quot;
  trigger:
  - platform: state
    entity_id: media_player.all_my_speakers, media_player.kitchen_speakers, media_player.main_speakers
    from: 'off'
  condition:
  - condition: template
    value_template: &quot;{{ trigger.to_state.state in ['idle', 'paused', 'playing'] }}&quot;
  action:
  - service: python_script.cca_sync_chromecast_volumes
    data:
      entity_id: &quot;{{ trigger.entity_id }}&quot;
</code></pre>
<h2><a id="2c_Update_the_group_volume_trackers_when_a_group_is_playing_299"></a>2c. Update the group volume trackers when a group is playing</h2>
<p>I need an automation that will update my trackers (i.e., <code>input_number.&lt;group_object_id&gt;</code>) for the group volumes when they are NOT playing by averaging the volumes of their members, excluding the Kitchen Home.  Using my <code>sensor.all_my_speakers</code>, <code>sensor.kitchen_speakers</code>, and <code>sensor.main_speakers</code> template sensors, defined above, this is pretty easy (see <a href="./automations/chromecast_audio/group_volumes.yaml">group_volumes.yaml</a>):</p>
<pre><code class="language-yaml">- id: track_volume_group_off
  alias: &quot;CCA: Track volume (group [off])&quot;
  trigger:
  - platform: state
    entity_id: sensor.all_my_speakers, sensor.kitchen_speakers, sensor.main_speakers
  condition:
  - condition: template
    value_template: &quot;{{ states('media_player.%s'|format(trigger.to_state.object_id)) in ['off', 'unavailable'] }}&quot;
  action:
  - service: input_number.set_value
    data_template:
      entity_id: &quot;{{ 'input_number.%s'|format(trigger.to_state.object_id) }}&quot;
      value: &quot;{{ states('sensor.%s'|format(trigger.to_state.object_id)) }}&quot;
</code></pre>
<h2><a id="2d_Restore_the_Google_Home_volume_when_group_playback_stops_320"></a>2d. Restore the Google Home volume when group playback stops</h2>
<p>I also need an automation to set my Google Home volume back to baseline when playback stops.  For this, I utilized my <a href="./python_scripts/set_chromecast_volumes.py">set_chromecast_volumes.py</a> Python script once again.  The automation is (see <a href="./automations/chromecast_audio/group_playback_stop.yaml">group_playback_stop.yaml</a>):</p>
<pre><code class="language-yaml">- id: group_playback_stop
  alias: &quot;CCA: Group playback (stop)&quot;
  trigger:
  - platform: state
    entity_id: media_player.all_my_speakers, media_player.kitchen_speakers, media_player.main_speakers
    to: 'off'
  condition:
  - condition: template
    value_template: &quot;{{ trigger.from_state.state in ['idle', 'paused', 'playing'] }}&quot;
  action:
  - service: python_script.cca_set_chromecast_volumes
    data:
      entity_id: media_player.kitchen_home
</code></pre>
<h1><a id="3_Complicated_automations_344"></a>3. Complicated automations</h1>
<p>Now for the hard part!  I need to define two automations.  For both automations, the trigger is a change in the state of a Chromecast Audio group media player, and their first condition is that the media player volume is not equal to the tracker volume.  The difference is in their second condition:</p>
<ul>
<li>If <code>input_number.&lt;group_object_id&gt; == input_number.&lt;member_object_id&gt;</code> for all the members of the group, then the system was normalized and now the volume has been changed, and so we need to (1) update the group volume tracker, <code>input_number.&lt;group_object_id&gt;</code>, (2) set the volume of each group member to this new volume, and (3) set the tracker for each group member, <code>input_number.&lt;member_object_id&gt;</code>, to the new value, <code>input_number.&lt;group_object_id&gt;</code>.  See the automation <code>track_and_normalize_volume_group</code> below.</li>
<li>Otherwise, the member volumes were not normalized and the (average) group volume only changed because the member volumes are being normalized.  In this case, we simply need to (1) set the volume of each group member to the value of <code>input_number.&lt;group_object_id&gt;</code> and (2) set the tracker for each group member, <code>input_number.&lt;member_object_id&gt;</code>, to <code>input_number.&lt;group_object_id&gt;</code>.  See the automation <code>normalize_volume_group</code> below.</li>
</ul>
<p>Fortunately, instead of defining different automations for each group, I can use templating along with the groups and input numbers that I’ve defined (see <a href="./automations/chromecast_audio/group_volumes.yaml">group_volumes.yaml</a>).</p>
<pre><code class="language-yaml"># all volumes are the same --&gt; track and normalize
- id: track_and_normalize_volume_group
  alias: &quot;CCA: Track and normalize volume (group)&quot;
  trigger:
  - platform: state
    entity_id: media_player.all_my_speakers, media_player.kitchen_speakers, media_player.main_speakers
  condition:
    condition: and
    conditions:
    - condition: template
      value_template: &quot;{{ trigger.to_state.attributes.volume_level is defined and trigger.to_state.attributes.volume_level | multiply(100) | round(0) | int != states('input_number.%s'|format(trigger.to_state.object_id)) | int }}&quot;
    - condition: template
      value_template: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id if states(entity_id) != states('input_number.%s'|format(trigger.to_state.object_id)) -%}
        {%- if loop.first -%}false{%- endif -%}
        {%- else -%}
        true
        {%- endfor -%}
  action:
  # 1) Set group tracker
  - service: input_number.set_value
    data_template:
      entity_id: &quot;{{ 'input_number.%s'|format(trigger.to_state.object_id) }}&quot;
      value: &quot;{{ trigger.to_state.attributes.volume_level | multiply(100) | round(0) | int }}&quot;

  # 2) Set individual volumes
  - service: media_player.volume_set
    data_template:
      entity_id: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id -%}
        {{ entity_id|replace('input_number', 'media_player') }}
        {%- if not loop.last -%}, {%- endif -%}
        {%- endfor -%}
      volume_level: &quot;{{ trigger.to_state.attributes.volume_level }}&quot;

  # 3) Set individual trackers
  - service: input_number.set_value
    data_template:
      entity_id: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id -%}
        {{ entity_id }}
        {%- if not loop.last -%}, {%- endif -%}
        {%- endfor -%}
      value: &quot;{{ trigger.to_state.attributes.volume_level | multiply(100) | round(0) | int }}&quot;



# all volumes are NOT the same --&gt; normalize only
- id: normalize_volume_group
  alias: &quot;CCA: Normalize volume (group)&quot;
  trigger:
  - platform: state
    entity_id: media_player.all_my_speakers, media_player.kitchen_speakers, media_player.main_speakers
  condition:
    condition: and
    conditions:
    - condition: template
      value_template: &quot;{{ trigger.to_state.attributes.volume_level is defined and trigger.to_state.attributes.volume_level | multiply(100) | round(0) | int != states('input_number.%s'|format(trigger.to_state.object_id)) | int }}&quot;
    - condition: template
      value_template: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id if states(entity_id) != states('input_number.%s'|format(trigger.to_state.object_id)) -%}
        {%- if loop.first -%}true{%- endif -%}
        {%- else -%}
        false
        {%- endfor -%}
  action:
  # 1) Set individual volumes
  - service: media_player.volume_set
    data_template:
      entity_id: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id -%}
        {{ entity_id|replace('input_number', 'media_player') }}
        {%- if not loop.last -%}, {%- endif -%}
        {%- endfor -%}
      volume_level: &quot;{{ states('input_number.%s'|format(trigger.to_state.object_id)) | multiply(0.01) }}&quot;

  # 2) Set individual trackers
  - service: input_number.set_value
    data_template:
      entity_id: &gt;
        {%- for entity_id in states.group[trigger.to_state.object_id].attributes.entity_id -%}
        {{ entity_id }}
        {%- if not loop.last -%}, {%- endif -%}
        {%- endfor -%}
      value: &quot;{{ states('input_number.%s'|format(trigger.to_state.object_id)) }}&quot;
</code></pre>
<h1><a id="Bonus_442"></a>Bonus</h1>
<p>Sometimes a Chromecast Audio group will become unavailable in Home Assistant.  To deal with this case, I created an automation that will restart Home Assistant if a Chromecast group is unavailable for 2 minutes (see <a href="./automations/chromecast_audio/group_unavailable.yaml">group_unavailable.yaml</a>):</p>
<pre><code class="language-yaml">- id: group_unavailable
  alias: &quot;CCA: Group unavailable&quot;
  trigger:
  - platform: state
    entity_id: media_player.all_my_speakers, media_player.kitchen_speakers, media_player.main_speakers
    to: 'unavailable'
    for:
      minutes: 2
  action:
  - service: homeassistant.restart
</code></pre>
</div>



    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Webpage maintained by <a href="https://github.com/JeffLIrion">Jeff Irion</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>



  </body>
</html>
